%h1 All Recipes
#recipes
  - @recipes.each_slice(3) do |recipes|
    .row
      - recipes.each do |recipe|
        .col-md-4
          .recipe
            .image_wrapper
              %a{ href: "#{recipe_path(recipe)}" }
                = image_tag recipe.image.url(:medium)
            %h2= link_to recipe[:title], recipe_path(recipe)


= link_to('New Recipe', new_recipe_path, class: 'btn btn-default')
